body{
  background:orange;}


.Botoes{
  background: black;
   
}
 #Concluido {
   color: yellow;
   font-weight: bold;}

   #Enviar{
     color: red;
     font-weight: bold;
   }

   #Obrigado{
     color: palevioletred;
     font-weight: bold;
   }
  

 